.project-display {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: stretch;
}

.project-card {
    background-color: var(--white);
    flex: 0 0 30em;
    height: 80%;
    border-radius: 0 0 15px 15px;
}

.project-card-basic {
    flex: 0 0 25em;
}

/* .card-title {
    width: 100%;
    background-color: var(--dark);
    height: 16%;
    display: flex;
    margin-top: 10px;
    justify-content: flex-start;
    align-items: center;
} */

.project-desc {
    width: 30ch;
    max-width: 100%;
}

.side-pad-card {
    padding-left: 10px;
}

.card-button {
    background-color: var(--white);
    border: 0;
    padding: 15px;
    font-size: 20px;
    font-weight: var(--wgt-secondary);
    font-family: var(--font-primary);
    color: var(--dark);
    box-shadow: 0px 1px 0px 0px var(--dark);
    transition: 0.5s;
    margin-left: 10px;
}

.card-button:hover,
.card-button:active {
    background-color: var(--dark);
    color: var(--white);
}

.social {
    width: 100%;
    height: fit-content;
}





@media screen and (max-width: 1400px) {
    .project-card-basic {
        flex: 0 0 30%;
    }
}

@media screen and (max-width: 960px) {
    .project-display {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }

    .project-card-basic {
        height: auto;
        width: 90%;
        border-radius: 0 0 0 15px;
    }
}